# Supabase/Postgres direct connection string.
# Supabase > Project Settings > Database > Connection string > URI
DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.TU_PROJECT_REF.supabase.co:5432/postgres

# Cambiar en producción
JWT_SECRET_KEY=cambiar_esta_clave_larga_y_segura
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# URL pública del backend o frontend usada para QR/validación
PUBLIC_BASE_URL=http://localhost:8000

# CORS permitido. En desarrollo se puede dejar *
CORS_ORIGINS=*

# Nombre visible en PDF
COMPANY_NAME=SIP Instrumentación
COMPANY_ADDRESS=Mailen Nº 986, Zona Chacra, Rincon de los Sauces, Neuquen.
COMPANY_PHONE=2995292190
COMPANY_EMAIL=sipinstrumentacion@gmail.com
